<!-- Bootstrap & Animate.css cdn -->
<link href="https://fastcdn.org/Animate.css/3.4.0/animate.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<!-- HEADER -->

<section class="container-fluid banner background text-center">
  <div class="banner-el layout-row layout-align-center-center">
    <figure class="img-banner bkg">
      <img class="layout-column layout-align-center-center" src="http://www.cityrider.com/fixed/43aspect.png" alt="background" />
      <figcaption>
        <h2 class="animated fadeInDown"><span>Task</span>App   </h2>
        <p>This application will help you manage your daily tasks</p>
      </figcaption>
    </figure>
  </div>
    {{#paper-button href="#set" id="getstarted" class="btn-ac animated fadeIn"}}Settings{{/paper-button}}
    {{#paper-button href="#tasks" id="show" class="btn-ac animated fadeIn"}}View Tasks{{/paper-button}}
</section>


<!-- TASK LIST SECTION -->
<div class="container-fluid task-section-bkg show">
  <div id="tasks" class="container task-section" id="task-section">

    <div class="col-lg-4 layout-align-space-around-center animated fadeInLeft">
      <h4 class="text-center">To do: {{todoTasks.length}} item/items</h4>
        <div class="todoTasks">
        {{#each todoTasks as |task|}}
          {{#draggable-object content=task}}
          {{#paper-card class="tdcard" as |card|}}
            {{#card.title as |title|}}
              {{#title.text as |text|}}
                {{#text.headline}}To Do {{paper-icon "error-outline" size=24}}{{/text.headline}}
                {{#paper-button class="btn-ac" onClick=(action "setSelectedTask" task)}}Details{{/paper-button}}
              {{/title.text}}
            {{/card.title}}
              {{#card.content class="layout-row layout-align-space-between"}}
                {{#card.media size="md"}}
                  {{#paper-list}}
                        {{#paper-item class="md-3-line"}}
                          <div class="md-list-item-text text-limiter-tasks">
                            <h3>{{task.description}}</h3>
                            <h4>Type: {{task.tasktype.name}}</h4>
                            <h4>Assigned to: {{task.user.name}}</h4>
                            <p> - Created at: {{task.createdAt}}</p>
                          </div>
                          {{paper-divider}}
                        {{/paper-item}}
                    {{/paper-list}}
                  {{/card.media}}
                {{/card.content}}
              {{/paper-card}}
          {{/draggable-object}}
        {{/each}}
      </div>
    </div>


    <div class="col-lg-4 layout-align-space-around-center animated fadeIn" id="custom">
        <h4 class="text-center">In Progress: {{progressTasks.length}} item/items</h4>
        {{#draggable-object-target class="drop" action="updateStatus" status="progress"}}
        <div class="progressTasks">
          {{#each progressTasks as |task|}}
            {{#draggable-object content=task}}
            {{#paper-card class="pcard" as |card|}}
              {{#card.title as |title|}}
                {{#title.text as |text|}}
                  {{#text.headline}}In Progress {{paper-icon "rotate-right" spin=true size=24}}{{/text.headline}}
                  {{#paper-button class="btn-ac" onClick=(action "setSelectedTask" task)}}Details{{/paper-button}}
                {{/title.text}}
              {{/card.title}}
                {{#card.content class="layout-row layout-align-space-between"}}
                  {{#card.media size="md"}}
                    {{#paper-list}}
                      {{#paper-item class="md-3-line"}}
                        <div class="md-list-item-text text-limiter-tasks">
                          <h3>{{task.description }}</h3>
                          <h4>Type: {{task.tasktype.name }}</h4>
                          <h4>Assigned to: {{task.user.name }}</h4>
                          <p>Updated at: {{task.updatedAt}}</p>
                        </div>
                        {{paper-divider}}
                      {{/paper-item}}
                    {{/paper-list}}
                  {{/card.media}}
                {{/card.content}}
            {{/paper-card}}
            {{/draggable-object}}
          {{/each}}
    </div>
    {{/draggable-object-target}}
  </div>


    <div class="col-lg-4 layout-align-space-around-center animated fadeInRight" id="custom">
      <h4 class="text-center">Done: {{todoTasks.length}} item/items</h4>
        {{#draggable-object-target class="drop" action="updateStatus" status="done"}}
        <div class="doneTasks">
          {{#each doneTasks as |task|}}
            {{#paper-card class="dcard" as |card|}}
              {{#card.title as |title|}}
                {{#title.text as |text|}}
                  {{#text.headline}}Done {{paper-icon "check" size=24}}{{/text.headline}}
                {{/title.text}}
              {{/card.title}}
                {{#card.content class="layout-row layout-align-space-between"}}
                  {{#card.media size="md"}}
                    {{#paper-list}}
                          {{#paper-item class="md-3-line"}}
                            <div class="md-list-item-text text-limiter-tasks">
                              <h3>{{task.description }}</h3>
                              <h4>Type: {{task.tasktype.name}}</h4>
                              <h4>Assigned to: {{task.user.name }}</h4>
                              <p>Updated at: {{task.updatedAt}}</p>
                            </div>
                          {{paper-divider}}
                        {{/paper-item}}
                      {{#paper-button class="btn-ac btn-del" onClick=(action "deleteTask" task.id)}}Delete{{/paper-button}}
                    {{/paper-list}}
                  {{/card.media}}
                {{/card.content}}
            {{/paper-card}}
          {{/each}}
    </div>
    {{/draggable-object-target}}
  </div>
</div>
    <!-- ADD TASK BUTTON -->
    <div class="addTask layout-row layout-align-center">
        {{#paper-button onClick=(action "toggleTaskDialog") class="add-task-btn"}}Add Task{{/paper-button}}
    </div>
    <!-- END ADD TASK BUTTON -->
</div>
<!-- END TASK LIST SECTION -->

<!-- DELETE TASK NOTIFICATION DIALOG -->
{{#if showAnimatedDialog}}
  {{#paper-dialog class="flex-50" onClose=(action "toggleAnimatedDialog") origin=dialogOrigin clickOutsideToClose=true}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2>Notification</h2>
        <span class="flex"></span>
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{#paper-dialog-content}}
        <p>The task has been deleted.</p>
    {{/paper-dialog-content}}
    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button onClick=(action "toggleAnimatedDialog")}}<a id="cancel" href="#task-section">Close</a>{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}
<!--END DELETE TASK NOTIFICATION DIALOG -->

<!-- DELETE USER NOTIFICATION DIALOG -->
{{#if showUserDialog}}
  {{#paper-dialog class="flex-40" onClose=(action "toggleUserDialog") origin=dialogOrigin clickOutsideToClose=true}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2>Notification</h2>
        <span class="flex"></span>
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{#paper-dialog-content}}
        <p>The user has been deleted.</p>
    {{/paper-dialog-content}}
    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button onClick=(action "toggleUserDialog")}}<a id="cancel" href="#set">Close</a>{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}
<!--END DELETE USER NOTIFICATION DIALOG -->

<!-- DELETE TASKTYPE NOTIFICATION DIALOG -->
{{#if showTaskTypeDialog}}
  {{#paper-dialog class="flex-40" onClose=(action "toggleTaskTypeDialog") origin=dialogOrigin clickOutsideToClose=true}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2>Notification</h2>
        <span class="flex"></span>
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{#paper-dialog-content}}
        <p>The task type has been deleted.</p>
    {{/paper-dialog-content}}
    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button onClick=(action "toggleTaskTypeDialog")}}<a id="cancel" href="#set">Close</a>{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}
<!--END DELETE TASKTYPE NOTIFICATION DIALOG -->

<!-- DETAILS DIALOG -->
{{#if showDialog}}
  {{#paper-dialog class="flex-40" onClose=(action "toggleDialog") clickOutsideToClose=true}}
    <form>
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          <h2>Task Details</h2>
          <span class="flex"></span>
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}
      {{#paper-dialog-content}}
          <h3>Task description: {{selectedTask.description}}</h3>
          <p>Assigned to: {{selectedTask.user.name}}</p>
          <p>TaskType: {{selectedTask.tasktype.name}}</p>
      {{/paper-dialog-content}}
      {{#paper-dialog-actions class="layout-row"}}
        <span class="flex"></span>
        {{#paper-button class="btn-ac" onClick=(action "toggleDialog")}}OK{{/paper-button}}
      {{/paper-dialog-actions}}
    </form>
  {{/paper-dialog}}
{{/if}}
<!-- END DETAILS DIALOG -->

<!-- ADD TASK DIALOG -->
{{#if showTaskDialog}}
  {{#paper-dialog class="flex-30" onClose=(action "toggleTaskDialog") origin=dialogOrigin clickOutsideToClose=true}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2>Add Task</h2>
        <span class="flex"></span>
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    {{#paper-dialog-content class="layout-column"}}
    {{#paper-input maxlength="45" label="Description" value=taskDescription onChange=(action (mut taskDescription)) required=true}}{{/paper-input}}

    {{#paper-select
      placeholder="Assign to a user"
      selected=selectedUser
      options=users
      onChange=(action (mut selectedUser))
      as |user|}}
      {{user.name}}
    {{/paper-select}}

    {{#paper-select
    placeholder="Choose a task type"
    selected=selectedTaskType
    options=tasktypes
    onChange=(action (mut selectedTaskType))
    as |tasktype|}}
    {{tasktype.name}}
    {{/paper-select}}
    {{/paper-dialog-content}}

    {{#paper-dialog-actions}}
      <span class="flex"></span>
      {{#paper-button id="#divac" href="#tasks" onClick=(action "addTask" taskDescription selectedUser.id selectedTaskType.id)}}Create Task{{/paper-button}}
      {{#paper-button onClick=(action "toggleTaskDialog")}}Cancel{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}
<!-- END ADD DIALOG -->

<!-- CSS LINE -->
<div class="containter-fluid line"></div>
<!-- END CSS LINE -->


<!-- SETTINGS PAGE -->
<section class="settings-container container-fluid">
  <div class="container settings layout-align-center show" id="set">

      <h1 class="text-center set-title">SETTINGS</h1>

      <!-- CSS LINE -->
      <div class="containter-fluid line-settings"></div>
      <!-- END CSS LINE -->

        <div class="col-lg-6 text-center animated fadeInLeft" align="center">
          <div class="layout-row layout-align-center">
            {{paper-input class="flex-30" label="Add a new user" value=userName onChange=(action (mut userName))}}
            {{#paper-button class="btn-ac" onClick=(action "addUser" userName)}}Add User{{/paper-button}}
          </div>
            {{#paper-list class="userTable table-content" id="scroll"}}
            {{#each users as |user|}}
              {{#paper-item class="md-3-line table-items"}}
                <img src="http://simpleicon.com/wp-content/uploads/user1.png" class="md-avatar img-responsive">
                <div class="md-list-item-text">
                  <h4>{{user.name}}</h4>
                  {{#paper-button class="btn-ac-space-two btn-ac" onClick=(action "deleteuser" user.id)}}Delete{{/paper-button}}
                </div>
              {{/paper-item}}
            {{/each}}
            {{/paper-list}}
        </div>

        <div class="col-lg-6 text-center animated fadeInRight" align="center">
          <div class="layout-row layout-align-center">
            {{paper-input class="flex-30" label="Add a new task type" value=taskTypeName onChange=(action (mut taskTypeName))}}
            {{#paper-button class="btn-ac" onClick=(action "addTaskType" taskTypeName)}}Add Task Type{{/paper-button}}
          </div>
          {{#paper-list class="tasktypeTable table-content" id="scroll"}}
          {{#each tasktypes as |tasktype|}}
            {{#paper-item class="md-3-line table-items"}}
              <img src="http://icons.iconarchive.com/icons/icons8/windows-8/512/Very-Basic-Settings-icon.png" class="md-avatar img-responsive">
              <div class="md-list-item-text">
                <h4>{{tasktype.name}}</h4>
                {{#paper-button class="btn-ac-space-two btn-ac" onClick=(action "deletetasktype" tasktype.id)}}Delete{{/paper-button}}
              </div>
            {{/paper-item}}
          {{/each}}
          {{/paper-list}}
        </div>
  </div>

  <!-- GO UP BUTTON -->
  <section class="container footer layout-row layout-align-center">
  {{#paper-button id="bottom" class="btn-ac layout-row layout-align-center"}}Go Up{{/paper-button}}
  </section>
  <!-- END GO UP BUTTON -->
</section>

<!-- @ Luminos Software -->
<div class="coppy-r layout-row layout-align-center">
  <small>&copy; Internship 2017 @ Luminos Software</small>
</div>

<script>

// SCROLLERS
$(document).ready(function() {
$("#bottom").click(function() {
     $('html, body').animate({
         scrollTop: $("#tasks").offset().top
     }, 1500);
 });
});

$(document).ready(function() {
$("#getstarted").click(function() {
     $('html, body').animate({
         scrollTop: $("#set").offset().top
     }, 1500);
 });
});

$(document).ready(function() {
$("#show").click(function() {
     $('html, body').animate({
         scrollTop: $("#tasks").offset().top
     }, 1500);
  });
// END SCROLLERS

// HEADER EFFECT
$("figure").mouseleave(
   function() {
     $(this).removeClass("hover");
   }
 );
});
//END HEADER EFFECT

// FADE IN EFFECT
$(document).ready(function() {
    $(window).scroll( function(){
        $('.show').each( function(i){
            var bo = $(this).position().top + $(this).outerHeight();
            var bw = $(window).scrollTop() + $(window).height();
            if( bw > (bo/1.5) ){
                $(this).animate({'opacity':'1'},1500);
            }
        });
    });
});
// END FADE EFFECT
</script>
